.nav-wrapper {
    paddingRight: 20px;
    paddingLeft: 20px;
}

.right {
    margin-right: 25px;
    padding: 20px;
}
li {
    padding: 20px;
    font-size: 25px;
    border: 30px;
    margin: 10px;
    margin-top: 3px;
}